deploy.sh
node_modules/
npm-debug.log
.DS_Store
/*.env
"node_modules"
"public_old"
.env
public/pages/braindump/*
public/pages/custom/active/*
public/pages/custom/inactive/*
public/pages/archive.html
public/pages/index.html
public/pages/about.html
public/pages/blog/*
public/pages/braindump.html
public/pages/resources.html
