body{
  word-wrap:break-word;
  font-weight:300;
  font-family:Inter;
  word-wrap: break-word;
  color:#3b3b3b;
}
.post__back{
  display:inline;
  text-align:left;
  margin-bottom:25px;
}
a{
  line-height:25px;
  color: #656565;
  text-decoration:underline;
  text-decoration-thickness:auto;
  text-decoration-color:currentcolor;
  text-decoration-color:#DADADA;
  text-decoration-thickness:.125em;
  text-underline-offset:2.5px;
}
.title{
  font-size:24pt;
  font-family:Inter;
  font-weight:900;
  margin-bottom:10px;
  text-align:left;
  line-height:1.1em;
  color:#656565;
}
.post__content{
  color:#656565;
  font-family:Inter;
  font-size:11.5pt;
  font-weight:300;
  line-height:16pt;
  padding-bottom:15px;
  text-align:justify;
  word-wrap:break-word;
  letter-spacing:0.2px;
}
