<!DOCTYPE html>
<head>
  <title>jakeg -> {{name}}</title>
  <link rel="preload stylesheet" as="style" type="text/css" href="../css/main.css" />
  <link rel="preload stylesheet" as="style" type="text/css" href="../css/fonts.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/jake32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/jake16.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://jakegines.in/jake512"/>
</head>
<style>
.content{
  width: 19%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}
</style>
<body>
  <div class="container">
    <div class="middle">
      <div class="content">
        <p>
        <a href="/"><span class="arrow">&larr;&nbsp;</span>home</a>
        </p>
        <h1 style="margin:0px; margin-bottom:5px; line-height:35pt;"><span style="color: {{color}};" >{{name}} {{icon}}</span></h1>
        <div class="calendar">
        <table>
          <tr>
            {{data1}}
          </tr>
        </table>
        </div>
          <!-- 
          <div class="calendar">
            <table>
              <tr>
                <td><a style="text-decoration: none !important; color: {{color}};" href="/blog/{{name}}" title="home">{{icon}}</a></td> 
                {{data1}}
              </tr>
              <tr>
                {{data2}}
              </tr>
              <tr>
                {{data3}}
              </tr>
              <tr>
                {{data4}}
              </tr>
            </table>
            -->
          <br>
          <p style="font-size: 10px">
            <i>Corrections, comments, and suggestions welcome. </i>
          </p>
      </div>
    </div>
  </div>
</body>

<!--
<td><a style="text-decoration: none !important" href="20191217-sr1.html" title="semester review, part 1">sr1</a></td>
<td><a style="text-decoration: none !important" href="20191218-sr2.html" title="semester review, part 2">sr2</a></td>
<td><a style="text-decoration: none !important" href="20191219-ttt.html" title="T travel times from MacGregor">ttt</a></td>
<td><a style="text-decoration: none !important" href="20191220-mtt.html" title="the making of 'T travel times'">mtt</a></td>
-->


