<!DOCTYPE html>
<head>
  <title>jakeg -> {{name}} -> {{title}}</title>
  <link rel="preload stylesheet" as="style" type="text/css" href="../../css/fonts.css" />
  <link rel="preload stylesheet" as="style" type="text/css" href="../../css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/jake32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/jake16.png"/>
  <link rel="stylesheet" href="../../css/wide.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://jakegines.in/jake512"/>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
  src="../../../libraries/MathJax-2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<style>
  a{
    color: {{color}};
  }
  a:link {
    color: {{color}};
  }
</style>
<body>
    <div class="container">
    <div class="middle">
      <div class="content">
        <p>
        <a href="/blog/{{name}}" style="color: {{color}}"><span class="arrow">&larr;&nbsp;</span>{{name}}</a>
        <!-- <a href="/blog/{{name}}" style="color: {{color}}"><span class="arrow" style="font-family:IBM Plex Mono;font-weight:300;font-size:10pt;">&larr;&nbsp;</span>{{name}}</a> -->
        </p>
        <h1 style="margin-bottom:10px;"><span style="color: {{color}}">{{title}}</span></h1>
        <div>
          {{data}}

          <!--
          <br>
          <div class="calendar">
          <table>
            <tr>
              {{data1}}
            </tr>
          </table>
          </div>
          -->


          <!--
          <div class="calendar">
          <table>
              <tr>
                <td><a style="text-decoration: none !important; color: {{color}};" href="/blog/{{name}}" title="home">{{icon}}</a></td>
                {{data1}}
              </tr>
              <tr>
                {{data2}}
              </tr>
              <tr>
                {{data3}}
              </tr>
              <tr>
                {{data4}}
              </tr>
            </table>
          </div>
          -->

        </div>
        <br>
      </div>
    </div>
  </div>
</body>

