<!DOCTYPE html>
<head>
  <title>jakeg -> favorites</title>
  <link rel="preload stylesheet" as="style" type="text/css" href="../css/fonts.css" />
  <link rel="preload stylesheet" as="style" type="text/css" href="../css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/jake32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/jake16.png"/>
  <link rel="stylesheet" href="../css/wide.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://jakegines.in/jake512"/>
</head>
<body>
    <div class="container">
    <div class="middle">
      <div class="content">
        <p>
        <a href="index.html"><span class="arrow">&larr;&nbsp;</span>home</a>
        </p>
        <h1>jake's <span style="color: #8cade6">favorite stuff</span></h1>
        <div>
          {{data}}
        </div>
        <br>
      </div>
    </div>
  </div>
</body>


